<!--logback.xml-->

<configuration>

    <!-- Console appender with JSON layout -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <!-- Keep the regular pattern encoder for console -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- File appender with regular layout for general logs -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>/Users/mac/EntJavaRepos/TimeSlotManager/logs/TimeSlotApp.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Root logger -->
    <root level="info">
        <!-- Reference only the FILE appender for console -->
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>

</configuration>


