/* main.css */
body {
    /*background: #c8ebf1;*/
    background: #d9ebec;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #212a30;
    margin: 0;
}

@media (max-width: 768px) {
    table {
        width: 100%;
    }
}

@media only screen and (max-width: 375px) {
    td form input[type="text"] {
        width: 200%;
        font-size: 20px;
        margin: 0;
    }

}