/* main.css */
body {
    background: #c8ebf1;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin: 0;
}

@media (max-width: 768px) {
    table {
        width: 100%;
    }
}

@media only screen and (max-width: 375px) {
    td form input[type="text"] {
        width: 200%;
        font-size: 20px;
        margin: 0;
    }
}