/* schedule.css */

table {
    width: 65%;
    margin-top: 20px;
}

tr, th, td {
    border-bottom: 1px solid darkslategray;
    padding: 0;
    text-align: left;
}

.green-text {
    color: #047b38;
}

.red-text {
    color: #e4075e;
}
