#files:
#  /etc/pki/tls/certs/server.crt:
#    mode: "000400"
#    owner: root
#    group: root
#    content: |
#      -----BEGIN CERTIFICATE-----
#      MIID+DCCAuACCQCaOIMeL0//mjANBgkqhkiG9w0BAQUFADCBvTELMAkGA1UEBhMC
#      dXMxEjAQBgNVBAgMCVdpc2NvbnNpbjESMBAGA1UEBwwJU3RvdWdodG9uMQ0wCwYD
#      VQQKDARNQVRDMRYwFAYDVQQLDA1JVCBEZXBhcnRtZW50MTgwNgYDVQQDDC9ib29r
#      aW5nLXRpbWUtYXBwLnVzLWVhc3QtMi5lbGFzdGljYmVhbnN0YWxrLmNvbTElMCMG
#      CSqGSIb3DQEJARYWbWlzdGVyLnNva29yQGdtYWlsLmNvbTAeFw0yMzEyMjQwMDEw
#      MzFaFw0yNDEyMjMwMDEwMzFaMIG9MQswCQYDVQQGEwJ1czESMBAGA1UECAwJV2lz
#      Y29uc2luMRIwEAYDVQQHDAlTdG91Z2h0b24xDTALBgNVBAoMBE1BVEMxFjAUBgNV
#      BAsMDUlUIERlcGFydG1lbnQxODA2BgNVBAMML2Jvb2tpbmctdGltZS1hcHAudXMt
#      ZWFzdC0yLmVsYXN0aWNiZWFuc3RhbGsuY29tMSUwIwYJKoZIhvcNAQkBFhZtaXN0
#      ZXIuc29rb3JAZ21haWwuY29tMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKC
#      AQEAwxsms6OkCCx6q6LOBS3kHx3vm8rjaqsL7BwTwDIKLQJAr9xE6MR6HqNln71L
#      7vzTP57lBfdnwFBBykkahHAKiGB5yqBHtwQmjNF250pJDxvgcDJQr/wm70AC9uO+
#      v4m02c2f7syn0hnlmszl84+Cvht/5zAutbiB6qgraOgetnyvB+vv1/J1hDmldRol
#      1342dKitG648gjBRuyygKS+LpN5qmscL/ZMM6Cv754AiH+6v09mBMa5rVRn54EVJ
#      3BfLhJ5BGxnOWNGWUwRrMSr5FvQpKtyrrb/UP93T8duUwH0NUVgRDP5y4VVHte/X
#      GmRjbPYQFCIY/ML0tpe42ffF6QIDAQABMA0GCSqGSIb3DQEBBQUAA4IBAQB0Kdk6
#      IfW5iAMtU/lCKRsrbxZeShrVSpuV8DIepoDfuV3Yh9nOXAfWtL9NldsuyMjQEM61
#      /97bVqSmIz9VQipnzDwvY+k2CetnEfPdmQgqEtZZNacosXuT72V7fS64l8/ANuhH
#      EKFr0ibT9uREQCkO39MYxlKnoLhbIf2ABUiqoBLHOmj9ul8FRoHL3ZyfyjpioIxs
#      +48SglG0jWCaHS7e1cXIiFU6Y/llaCVkv73xisiXwLVxNtTbHDZ/HkL3Jn0UiyLn
#      jb8h3vDTO+NNpubmBK+txbUWArqR+Ac6/78ToBNH7RRVnJ+J5Igwz9g6u9MJN7Lq
#      c9vGu/hFcfSkR1NF
#      -----END CERTIFICATE-----
#
#  /etc/pki/tls/certs/server.key:
#    mode: "000400"
#    owner: root
#    group: root
#    content: |
#      -----BEGIN RSA PRIVATE KEY-----
#      MIIEpAIBAAKCAQEAwxsms6OkCCx6q6LOBS3kHx3vm8rjaqsL7BwTwDIKLQJAr9xE
#      6MR6HqNln71L7vzTP57lBfdnwFBBykkahHAKiGB5yqBHtwQmjNF250pJDxvgcDJQ
#      r/wm70AC9uO+v4m02c2f7syn0hnlmszl84+Cvht/5zAutbiB6qgraOgetnyvB+vv
#      1/J1hDmldRol1342dKitG648gjBRuyygKS+LpN5qmscL/ZMM6Cv754AiH+6v09mB
#      Ma5rVRn54EVJ3BfLhJ5BGxnOWNGWUwRrMSr5FvQpKtyrrb/UP93T8duUwH0NUVgR
#      DP5y4VVHte/XGmRjbPYQFCIY/ML0tpe42ffF6QIDAQABAoIBADmu3VJfHzALdnko
#      OSDu4HMStrSo13PB/lRgOLaqFLgZ4mYcCYOIE1LbnEAOB1UxCoPUxoFtFA+XqtvT
#      oTNmrLaFT3zIxmslnwAjLbRUEiWVaFXDind9ZUV292lnDA40+HMsiAxiFXvYjDmo
#      OpQ36b+rAbWoWScA1eg6sBrkBbCNyEG5J+iRlcHS3R3sTFtmoSGOrm1A+RyjayUG
#      7OM52MabcLGFVvJkJVFT1ng9jZVChM0Bobvijy+eEzbK9O6wJ9zp8SKbfXj/6zKR
#      rUukJkA3mg7bUFe94ESEUn3pd4e8xxTIx6lrVrXN5ILQYlmrIqelmOifkWtvORv4
#      IpfnysECgYEA5N25xw9YAiq55r/1ggN2KY3D2cBcJ2jVeFSR3SqYdnaepw1DwnAB
#      aNpkDXt/rQVTUzGkqvOeBzrim0JfbxnJU6OfsbdILEZ54ciduqnFflrUzs2jSBlR
#      cHuWApn/moFo13ejAP0mCk9kP0FV0Tf5HF4iO8d1Mo4oeNHnLzhLRuMCgYEA2jzH
#      szmTEuh/+Gh+WOR7GGunGSvDuqc/Q9UjFiZ0d3k9IXPasXUcoyLMsL8G7wrAOSAc
#      90DBZOtSmiqABLME0OpFnWM6shQRd2oZUhINg45HK8WVJS2BTzrQE0TjF9Nr9IIw
#      /Mu8gKdxbNvozieUIB/Xamnyhyiff1bTpfU/zcMCgYBtbjcuHwANyTAqTQ6uo8kU
#      BVzn+ToW/eFUL9uuzHcp7X3eklEb30JNSF8eszZRHILC/LGnq+SbwGQpqIrJLKM/
#      ArWQ2/n+cZRFiQ8h+Zsc14F5gInaJ4DxL6aCh+/XiJkArYubJW/S7jMYq7zE1Oaf
#      0cK8opo/Ggnv+y13Pot/0QKBgQCs4gtdSpXdG7wMwFKe/tkY/mcQRKA4ZDd0+Apk
#      iLAo2S15K7sqa1j1TyMSPTIz+bNPTcZEhNLvrI/yOwrRLjP5gC0Hwk0EN2uiyrUm
#      U9DKz9JHta0yF3thlXiyWxb/j+fseZpvGMLKtFrhXtBtR+NLE45l6WpMcfzwNotR
#      5BfYWwKBgQDHP7QEBkjna/2gm/MzXyXmY16zMwOB536mA3cd6MpQW9Npj2dzoQCM
#      ecVRxOQwYVQHUAl+XcLsU6+3E0PXcM/mm3yYr9QQwxBQlOheAyqwUcVqisRXfTJm
#      zFamOVlRwfT8KYBD7CqTakO9qfpsXJPVA/HmmQ+tYva4/L+86v1TYg==
#      -----END RSA PRIVATE KEY-----
#
#  /opt/elasticbeanstalk/hooks/appdeploy/post/99_start_httpd.sh:
#    mode: "000755"
#    owner: root
#    group: root
#    content: |
#      #!/usr/bin/env bash
#      sudo service httpd restart