
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" type="text/css" href="/main.css">
    <link rel="stylesheet" type="text/css" href="/Hello.css">
    <title>Welcome</title>
</head>
<body>
<img src="/images/hello.png" alt="hello">
<h2> <span th:text="${userName}"></span></h2>
<p>
    I'll be glad to see you in my class.
</p>

<p>Please choose a convenient time from the schedule:</p>
<br>
<a th:href="@{/schedule}">
    <button>Go to Schedule</button>
</a>
</body>
</html>
