<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div th:if="${not #strings.isEmpty(userName)}">
    <h3>Welcome, ${userName}!</h3>
</div>
<div th:unless="${not #strings.isEmpty(userName)}">
    <a href="/login">Log in</a>
</div>
</body>
</html>
