<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/main.css">
    <link rel="stylesheet" type="text/css" href="/logout.css">
    <title>Goodbye</title>

</head>
<body>
<div class="container">
    <img src="/images/goodbye.png">
</div>
<div>
    <p>Hope to see you again.</p>
    <p> If you'd like to log in, click</p>
</div>
<br>
<div>
    <a th:href="@{/login}">
        <button>Log in</button>
    </a>
</div>
</body>
</html>
